Repository relaya17/ArchTrack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @construction-master/team, @construction-master/frontend-team, @construction-master/backend-team, @construction-master/docs-team, @construction-master/devops-team

fix: use pnpm in netlify build command
  netlify.toml
Owners: @construction-master/team

chore(render): switch to pnpm via Corepack for Render builds
  render.yaml
Owners: @construction-master/team

chore: migrate npm scripts to pnpm across repo
  README.md
  apps/client/package.json
  apps/client/src/app/layout.tsx
  package.json
Owners: @construction-master/team, @construction-master/frontend-team

feat: Add Sentry integration and fix server build for Render deployment
  apps/client/next.config.js
  apps/client/src/app/documents/page.tsx
  apps/client/src/app/gantt/page.tsx
  apps/client/src/app/layout-with-sidebar.tsx
  apps/client/src/app/layout.tsx
  apps/client/src/app/reports/page.tsx
  apps/client/src/app/resources/page.tsx
  apps/client/src/components/ErrorBoundary.tsx
  apps/client/src/components/documents/DocumentManager.tsx
  apps/client/src/components/gantt/GanttChart.tsx
  apps/client/src/components/layout/Sidebar.tsx
  apps/client/src/components/reports/AdvancedReports.tsx
  apps/client/src/components/resources/ResourceManager.tsx
  apps/client/src/components/ui/ConfirmationDialog.tsx
  apps/client/src/components/ui/LoadingSpinner.tsx
  apps/client/src/components/ui/ThemeProvider.tsx
  apps/client/src/components/ui/Toast.tsx
  apps/client/src/lib/accessibility.ts
  apps/client/src/lib/performance.ts
  apps/mobile/src/context/OfflineContext.tsx
  apps/server/package.json
  apps/server/pnpm-lock.yaml
  apps/server/src/services/analyticsService.ts
  apps/server/tsconfig.json
  render.yaml
Owners: @construction-master/frontend-team, @construction-master/team, @construction-master/backend-team

fix: use tsx for server build and deployment
  apps/server/package.json
  apps/server/pnpm-lock.yaml
  apps/server/tsconfig.json
  render.yaml
Owners: @construction-master/backend-team, @construction-master/team

fix: move tsx from devDependencies to dependencies for Render
  apps/server/package.json
Owners: @construction-master/backend-team

fix: add tsx to dependencies and start command
  apps/server/package.json
  apps/server/pnpm-lock.yaml
Owners: @construction-master/backend-team

fix: run tsx directly for Render deploy
  apps/server/package.json
Owners: @construction-master/backend-team

fix: optimize memory usage for Render deployment
  apps/server/src/index.ts
Owners: @construction-master/backend-team

fix: final Render deployment setup with tsx and memory optimizations
  apps/server/src/index.ts
  apps/server/tsconfig.json
  render.yaml
Owners: @construction-master/backend-team, @construction-master/team

feat: move main badge below heading on homepage
  apps/client/src/app/page.tsx
Owners: @construction-master/frontend-team

fix: disable heavy features in production to reduce memory usage
  apps/server/src/index.ts
Owners: @construction-master/backend-team

fix: revert to tsx for production build, optimize memory usage
  apps/server/src/index.ts
  apps/server/tsconfig.json
Owners: @construction-master/backend-team

fix: correct startCommand indentation in render.yaml
  render.yaml
Owners: @construction-master/team

feat: optimize memory usage for production - disable heavy logging and add GC optimizations
  apps/server/src/index.ts
Owners: @construction-master/backend-team

fix: סנכרון גרסאות packages ותיקון vercel.json ל-Next.js
  apps/client/package.json
  apps/server/package.json
  package.json
  vercel.json
Owners: @construction-master/frontend-team, @construction-master/backend-team, @construction-master/team

.github/CODEOWNERS:

# Global owners
* @construction-master/team

# Frontend
apps/client/ @construction-master/frontend-team

# Backend
apps/server/ @construction-master/backend-team

# Documentation
docs/ @construction-master/docs-team

# CI/CD
.github/ @construction-master/devops-team
